
.slider-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7%;
}

.slider-container .slider .core {
    display: flex;
    align-items: center;
    position: relative;
    width:300px;
    height:200px;
    flex-direction: column;
    cursor: pointer;
}

.slider-container .slider{
    margin: 1%;
}

.slider-container .slider .core span{
    font-size:large; 
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 25%;
    font: bolder;
    background-color: rgb(0,0,0,0.5);
}

.slider-container .slider .core span:hover{
    font-size:large; 
    position: absolute;
    transition:linear 0.3s;
    bottom: 0;
    width: 100%;
    height: 100%;
    font: bolder;
    background-color: rgb(0,0,0,0.5);
} 

span:hover+ img{
    transform: scale(40px);
}

.slider-container .slider .core span .title{
    padding: 0px 0px 0px 20px;
    color: white;
    opacity: 1;
}

.slider-container .slider .core span .content{
    color: white;
    font-size: medium;
    padding: 10px;
}

.slider .core img{
    width: 300px;
    height: 200px;
    border-radius: 2%;

}